.block-editor-block-toolbar .components-toolbar .components-dropdown-menu__toggle {
    min-width: 61px !important;
}
.wp-block {
    max-width: 92%;

    .slider-nav {
        display: none;
    }

    .slider-for {
        div {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
}