.block-editor-block-toolbar .components-toolbar .components-dropdown-menu__toggle {
  min-width: 61px !important;
}
.wp-block {
  max-width: 92%;
}
.wp-block .slider-nav {
  display: none;
}
.wp-block .slider-for div {
  display: none;
}
.wp-block .slider-for div:first-child {
  display: block;
}
