// out: styles.min.css, compress: true,

@media-mobile: ~"only screen and (max-width: 767px)";
@media-tablet: ~"only screen and (max-width: 960px)";
@media-desktop: ~"only screen and (max-width: 1200px)";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

@black: #1A1A1A;
@orange: #C44B00;

@font: 'Noto Sans', sans-serif;
@heading: 'Noto Serif', serif;
@font-size: 16px;
@lh: 32px;
@reg: 400;
@bold: 700;

html,
body {
    font-size: @font-size;
    line-height: @lh;
    font-family: @font;
    font-style: normal;
    overflow-x: hidden;
    background-color: #F7F7F7;
    background-image: none !important;
}

a {
    font-family: @heading;

    &:hover {
        text-decoration: none;
    }
}

em {
    color: @black;
}

p {
    strong {
        font-family: @heading;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @heading;
    font-weight: @bold;
    margin: 0 0 20px;

    &.is-style-small {
        max-width: 660px;
        margin: 0 auto 35px;
    }
}

h1 {
    font-size: 70px;
    line-height: 92px;
}

h2 {
    font-size: 60px;
    line-height: 82px;

    em {
        font-weight: 500;
    }
}

h3 {
    font-size: 32px;
    line-height: 48px;
}

h4 {
    font-size: 24px;
    line-height: 34px;
    font-weight: @reg;
}

header.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: @black;
    z-index: 999;
    transition: all 0.25s;

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            color: white;
            font-weight: @bold;
            padding: 18px 20px;
            display: block;
            font-family: @font;
        }

        li:last-child {
            a {
                display: inline-block;
                padding: 7px 20px;
                background-color: @orange;
                border-radius: 20px;
                min-width: 200px;
                text-align: center;
            }
        }
    }
}

main {
    margin-top: 70px;
}

.menu-icon {
    background-color: transparent;
    border: none;
    position: relative;
    top: 3px;

    i {
        color: white;
        font-size: 24px;
    }
}

#mobile-menu {
    width: 100%;
    text-align: center;
    .menu {
        list-style: none;
        padding: 0;
        margin: 60px 0 0 0;

        li {
            margin-bottom: 15px;

            a {
                color: @black;
            }
        }

        li:last-child {
            a {
                display: inline-block;
                padding: 7px 20px;
                background-color: @orange;
                color: white;
                border-radius: 20px;
                min-width: 200px;
                text-align: center;
                margin-top: 50px;
            }
        }
    }

    .mini-header {
        background-color: @black;
        padding: 15px;

        img {
            max-width: 160px;
        }
    }

    .uk-offcanvas-bar {
        background-color: #F7F7F7;
        padding: 0;
        width: 100%;
    }
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border-radius: 15px;
    min-width: 318px;

    @media @media-tablet {
        min-width: inherit;
    }

    &.plain {
        color: @black;
        border-radius: 0;
        min-width: inherit;
        background: transparent;
        border: none;
        padding: 0;
    }

    &.orange {
        background-color: @orange;
        color: white;
    }
}

.wp-block-buttons {
    .wp-block-button {
        margin-right: 20px;

        .wp-block-button__link {
            background-color: transparent;
            color: @black;
            font-family: @font;
            font-size: @font-size;
            font-weight: @bold;
            padding: 0;

            &::before {
                content: "";
                background: url(../img/plus.svg) no-repeat;
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: 1px;
            }
        }

        &.is-style-orange {
            .wp-block-button__link {
                padding: 10px 45px;
                text-align: center;
                border-radius: 15px;
                background-color: @orange;
                color: white;

                &::before {
                    display: none;
                }
            }
        }
    }
}

.wp-block-media-text {
    grid-template-columns: 40% 1fr;

    &.has-media-on-the-right {
        grid-template-columns: 1fr 40%;
    }

    &.is-style-card {
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        padding: 25px;

        h4 {
            font-size: 20px;
            border-bottom: 2px solid @orange;
            padding-bottom: 8px;
        }
    }
}

.wp-block-group {
    .wp-block-group__inner-container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 45px 0;
    }
    &.is-style-large {
        .wp-block-group__inner-container {
            max-width: 1365px;
            margin: 0 auto;
            padding: 45px 0;
        }
    }

    .wp-block-group {
        .wp-block-group__inner-container {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
}

.wp-block-separator {
    &.is-style-small {
        border-top: 6px solid @orange;
        margin: 20px 0;
        max-width: 90px;
    }

    &.is-style-small-centered {
        border-top: 6px solid @orange;
        margin: 20px auto;
        max-width: 90px;
    }
}

.wp-block-columns {
    &.is-style-center {
        align-items: center;
    }
    .wp-block-column {
        &.is-style-card {
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            padding: 25px;

            h4 {
                font-size: 20px;
                border-bottom: 2px solid @orange;
                padding-bottom: 8px;
            }
        }
    }
}

section {
    &.card-slider {
        .uk-container {
            padding: 0;
        }
        .card-slider__slick,
        .card-slider__grid {
            padding: 0 50px;

            .card-slider__inner {
                padding: 40px;
                margin: 10px;
                border-radius: 15px;
                background-color: white;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                .card-slider__image {
                    min-width: 290px;
                    margin-right: 35px;

                    img {
                        max-width: 500px;
                    }
                }

                .card-slider__content {
                    p.title {
                        border-bottom: 2px solid @orange;
                    }
                }
            }

        }

        .card-slider__grid {
            .card-slider__inner {
                padding: 15px;
                border-radius: 0;
                margin: 10px;

                .card-slider__image {
                    min-width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }

        .card-slider__link {
            text-align: center;
        }
    }

    &.team-slider {
        .team-slider__person {
            margin: 5px;

            h5 {
                margin: 10px 0;
            }

            p {
                margin: 0;
            }
        }
    }

    &.person {
        padding: 100px 0;
        .card-slider__image {
            min-width: 400px;
            max-width: 400px;
            margin-right: 35px;
        }

        .card-slider__content {
            p.title {
                border-bottom: 2px solid @orange;
            }
        }
    }
}

.uk-modal-dialog {
    width: 80vw;
    padding: 50px;
    
    .card-slider__image {
        min-width: 400px;
        margin-right: 35px;
        overflow: hidden;

        img {
            max-width: 500px;
        }
    }

    .card-slider__content {
        p.title {
            border-bottom: 2px solid @orange;
        }
    }
}

.slick-slider {
    .slick-dots {
        text-align: center;
        margin: 25px auto;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin: 0 6px;

            button {
                width: 16px;
                height: 16px;
                border-radius: 16px;
                display: block;
                background-color: #D9D9D9;
                border: none;
                text-indent: -999em;

                &:active,
                &:focus {
                    outline: none;
                }
            }

            &.slick-active {
                button {
                    background-color: @orange;
                }
            }
        }
    }

    button.slick-arrow {
        position: absolute;
        top: 40%;
        border: none;
        background-color: transparent;
        z-index: 100;

        i {
            color: black;
            font-size: 28px;
        }

        &.slick-prev {
            left: 0;
        }

        &.slick-next {
            right: 0;
        }
    }
}

.gform_wrapper {
    max-width: 545px !important;
    margin: 0 auto;

    label {
        color: @black;
        font-size: 16px;
    }

    input,
    select,
    textarea {
        padding: 10px !important;
        border: none;
        border-radius: 15px;
    }

    input[type=submit] {
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        border-radius: 15px;
        min-width: 318px;
        background-color: @orange;
        color: white;
    }
}

.gform_confirmation_message {
    text-align: center;
    font-size: 24px;
    font-family: @heading;
    font-style: italic;
    color: @black;
}

.single-post {
    padding: 10px 0 50px;

    .banner-image {
        max-width: 1024px;
        margin: 0 auto;
    }

    .meta {
        margin: 30px 0;
    }
}

body.archive,
body.category {
    .posts__page {
        padding: 50px 0;
    }
}

.posts__page {
    .main-blog {
        padding: 50px 0;
    }
    .sidebar {
        background-color: #efefef;
        padding: 20px 40px;
        height: 100%;

        .sidebar-widget {
            padding-top: 186px;

            @media @media-tablet {
                padding-top: 0;
            }
        }

        ul,ol {
            margin: 0;
            padding: 0;
            list-style: none;

            a {
                color: @orange
            }
        }

        .widget_archive {
            margin-bottom: 50px;
        }
    }

    article.post {
        border-bottom: 1px solid #ddd;
        margin: 20px 0;
        padding: 20px 0;

        .bg {
            width: 100%;
            min-height: 235px;
        }

        span.date {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }

        h4 {
            a {
                color: @black;
                text-transform: none;
            }
        }

        a.perm {
            color: @orange;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
        }
    }

    .pagination {
        text-align: center;
        .page-numbers {
            color: @orange;

            &.current {
                font-weight: 600;
            }
        }
    }
}

footer.footer {
    background-color: @black;
    padding: 40px 0;

    h3,
    p,
    a,
    li {
        color: white;
    }

    .menu {
        margin-top: 10px;
    }

    ul,
    ol {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-bottom: 20px;
        }
    }

    .social {
        margin-top: 30px;

        li {
            display: inline-block;
            margin-right: 15px;

            a {
                i {
                    font-size: 35px;
                }
            }
        }
    }

    .offices {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }
}

@media @media-desktop {
    .wp-block-group {
        .wp-block-group__inner-container {
            padding: 45px 30px;
        }
        &.is-style-large {
            .wp-block-group__inner-container {
                padding: 45px 30px;
            }
        }
    }
}

@media @media-tablet {
    h2 {
        font-size: 45px;
        line-height: 55px;
    }

    .wp-block-columns {
        .wp-block-column {
            margin-bottom: 20px;
        }
    }

    .wp-block-media-text {
        display: block;

        .wp-block-media-text__media {
            margin-bottom: 30px;
        }
    }

    footer.footer {
        .menu {
            margin-left: 30px;
        }
    }

    .uk-modal-dialog {
        .uk-flex {
            display: block;
        }
    }

    section {
        &.card-slider {
            .card-slider__slick {
                .card-slider__inner {
                    .uk-flex {
                        display: block;
                    }
                    .card-slider__image {
                        margin: 0 0 20px;
                    }
                }
            }
        }
        &.person {
            .uk-flex {
                display: block;
            }

            .card-slider__image {
                margin: 0 auto 20px;
                min-width: inherit;
            }
        }
    }
}

@media @media-mobile {
    h4 {
        font-size: 20px;
        line-height: 30px;
    }

    h2 {
        font-size: 38px;
        line-height: 48px;
    }

    header.header {
        img {
            max-width: 210px;
        }
    }

    footer.footer {
        .menu {
            margin: 0;
        }

        p {
            font-size: 14px;
        }
    }

    button.slick-arrow {
        &.slick-next{
            right: -30px !important;
        }
        &.slick-prev{
            left: -30px !important;
        }
    }

    .uk-modal-dialog {
        padding: 15px;

        .card-slider__image {
            min-width: inherit;
            margin: 0;
            img {
                max-width: inherit;
                width: 100%;
            }
        }
    }

    .wp-block-media-text {
        &.is-style-card {
            .wp-block-media-text__content {
                padding: 0;
            }
        }
    }

    .wp-block-columns {
        margin-bottom: 0;
    }

    .wp-block-group {
        .wp-block-group__inner-container {
            padding: 20px !important;
        }
    }

    .slick-dots {
        display: none !important;
    }

    section {
        &.card-slider {
            margin: 0 20px 0 20px;
            .card-slider__slick {
                padding: 0;

                .card-slider__inner {
                    padding: 20px;

                    .card-slider__content {
                        p:not(.title) {
                            display: none;
                        }
                    }

                    .card-slider__image {
                        min-width: inherit;

                        div {
                            height: 230px !important;
                            background-size: contain !important;
                        }
                    }
                }
            }
        }
        &.team-slider {
            .team-slider__image {
                >div {
                    width: 100% !important;
                }
            }
        }
    }
}

.BambooHR-ATS-board a {
    color : @orange;
}

//tax page overrides

#maincontain {
    padding: 0 !important;
    width: inherit !important;
    background: transparent !important;
}