@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v11/o-0IIpQlx3QUlC5A4PNb4g.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v11/o-0NIpQlx3QUlC5A4PNjXhFlYw.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Kaw1J5X9T9RW6j9bNfFIWbQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Iaw1J5X9T9RW6j9bNTFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notoserif/v9/ga6Law1J5X9T9RW6j9bNdOwzTRA.ttf) format('truetype');
}
html,
body {
  font-size: 16px;
  line-height: 32px;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  overflow-x: hidden;
  background-color: #F7F7F7;
  background-image: none !important;
}
a {
  font-family: 'Noto Serif', serif;
}
a:hover {
  text-decoration: none;
}
em {
  color: #1A1A1A;
}
p strong {
  font-family: 'Noto Serif', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  margin: 0 0 20px;
}
h1.is-style-small,
h2.is-style-small,
h3.is-style-small,
h4.is-style-small,
h5.is-style-small,
h6.is-style-small {
  max-width: 660px;
  margin: 0 auto 35px;
}
h1 {
  font-size: 70px;
  line-height: 92px;
}
h2 {
  font-size: 60px;
  line-height: 82px;
}
h2 em {
  font-weight: 500;
}
h3 {
  font-size: 32px;
  line-height: 48px;
}
h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1A1A1A;
  z-index: 999;
  transition: all 0.25s;
}
header.header.nav-up {
  top: -100px;
}
header.header.nav-down {
  top: 0;
}
header.header .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header.header .menu a {
  color: white;
  font-weight: 700;
  padding: 18px 20px;
  display: block;
  font-family: 'Noto Sans', sans-serif;
}
header.header .menu li:last-child a {
  display: inline-block;
  padding: 7px 20px;
  background-color: #C44B00;
  border-radius: 20px;
  min-width: 200px;
  text-align: center;
}
main {
  margin-top: 70px;
}
.menu-icon {
  background-color: transparent;
  border: none;
  position: relative;
  top: 3px;
}
.menu-icon i {
  color: white;
  font-size: 24px;
}
#mobile-menu {
  width: 100%;
  text-align: center;
}
#mobile-menu .menu {
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
}
#mobile-menu .menu li {
  margin-bottom: 15px;
}
#mobile-menu .menu li a {
  color: #1A1A1A;
}
#mobile-menu .menu li:last-child a {
  display: inline-block;
  padding: 7px 20px;
  background-color: #C44B00;
  color: white;
  border-radius: 20px;
  min-width: 200px;
  text-align: center;
  margin-top: 50px;
}
#mobile-menu .mini-header {
  background-color: #1A1A1A;
  padding: 15px;
}
#mobile-menu .mini-header img {
  max-width: 160px;
}
#mobile-menu .uk-offcanvas-bar {
  background-color: #F7F7F7;
  padding: 0;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 15px;
  min-width: 318px;
}
@media only screen and (max-width: 960px) {
  .btn {
    min-width: inherit;
  }
}
.btn.orange {
  background-color: #C44B00;
  color: white;
}
.wp-block-buttons .wp-block-button {
  margin-right: 20px;
}
.wp-block-buttons .wp-block-button .wp-block-button__link {
  background-color: transparent;
  color: #1A1A1A;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}
.wp-block-buttons .wp-block-button .wp-block-button__link::before {
  content: "";
  background: url(../img/plus.svg) no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}
.wp-block-buttons .wp-block-button.is-style-orange .wp-block-button__link {
  padding: 10px 45px;
  text-align: center;
  border-radius: 15px;
  background-color: #C44B00;
  color: white;
}
.wp-block-buttons .wp-block-button.is-style-orange .wp-block-button__link::before {
  display: none;
}
.wp-block-media-text {
  grid-template-columns: 40% 1fr;
}
.wp-block-media-text.has-media-on-the-right {
  grid-template-columns: 1fr 40%;
}
.wp-block-media-text.is-style-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px;
}
.wp-block-media-text.is-style-card h4 {
  font-size: 20px;
  border-bottom: 2px solid #C44B00;
  padding-bottom: 8px;
}
.wp-block-group .wp-block-group__inner-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 45px 0;
}
.wp-block-group.is-style-large .wp-block-group__inner-container {
  max-width: 1365px;
  margin: 0 auto;
  padding: 45px 0;
}
.wp-block-group .wp-block-group .wp-block-group__inner-container {
  padding-left: 45px;
  padding-right: 45px;
}
.wp-block-separator.is-style-small {
  border-top: 6px solid #C44B00;
  margin: 20px 0;
  max-width: 90px;
}
.wp-block-separator.is-style-small-centered {
  border-top: 6px solid #C44B00;
  margin: 20px auto;
  max-width: 90px;
}
.wp-block-columns.is-style-center {
  align-items: center;
}
.wp-block-columns .wp-block-column.is-style-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px;
}
.wp-block-columns .wp-block-column.is-style-card h4 {
  font-size: 20px;
  border-bottom: 2px solid #C44B00;
  padding-bottom: 8px;
}
section.card-slider .uk-container {
  padding: 0;
}
section.card-slider .card-slider__slick {
  padding: 0 50px;
}
section.card-slider .card-slider__slick .card-slider__inner {
  padding: 40px;
  margin: 10px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section.card-slider .card-slider__slick .card-slider__inner .card-slider__image {
  min-width: 290px;
  margin-right: 35px;
}
section.card-slider .card-slider__slick .card-slider__inner .card-slider__image img {
  max-width: 500px;
}
section.card-slider .card-slider__slick .card-slider__inner .card-slider__content p.title {
  border-bottom: 2px solid #C44B00;
}
section.card-slider .card-slider__link {
  text-align: center;
}
section.team-slider .team-slider__person {
  margin: 5px;
}
section.team-slider .team-slider__person h5 {
  margin: 10px 0;
}
section.team-slider .team-slider__person p {
  margin: 0;
}
section.team-slider .slick-list {
  margin: 0 50px;
}
section.person {
  padding: 100px 0;
}
section.person .card-slider__image {
  min-width: 400px;
  max-width: 400px;
  margin-right: 35px;
}
section.person .card-slider__content p.title {
  border-bottom: 2px solid #C44B00;
}
.uk-modal-dialog {
  width: 80vw;
  padding: 50px;
}
.uk-modal-dialog .card-slider__image {
  min-width: 400px;
  margin-right: 35px;
  overflow: hidden;
}
.uk-modal-dialog .card-slider__image img {
  max-width: 500px;
}
.uk-modal-dialog .card-slider__content p.title {
  border-bottom: 2px solid #C44B00;
}
.slick-slider .slick-dots {
  text-align: center;
  margin: 25px auto;
  padding: 0;
  list-style: none;
}
.slick-slider .slick-dots li {
  display: inline-block;
  margin: 0 6px;
}
.slick-slider .slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  display: block;
  background-color: #D9D9D9;
  border: none;
  text-indent: -999em;
}
.slick-slider .slick-dots li button:active,
.slick-slider .slick-dots li button:focus {
  outline: none;
}
.slick-slider .slick-dots li.slick-active button {
  background-color: #C44B00;
}
.slick-slider button.slick-arrow {
  position: absolute;
  top: 40%;
  border: none;
  background-color: transparent;
  z-index: 100;
}
.slick-slider button.slick-arrow i {
  color: black;
  font-size: 28px;
}
.slick-slider button.slick-arrow.slick-prev {
  left: 0;
}
.slick-slider button.slick-arrow.slick-next {
  right: 0;
}
.gform_wrapper {
  max-width: 545px !important;
  margin: 0 auto;
}
.gform_wrapper label {
  color: #1A1A1A;
  font-size: 16px;
}
.gform_wrapper input,
.gform_wrapper select,
.gform_wrapper textarea {
  padding: 10px !important;
  border: none;
  border-radius: 15px;
}
.gform_wrapper input[type=submit] {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 15px;
  min-width: 318px;
  background-color: #C44B00;
  color: white;
}
.gform_confirmation_message {
  text-align: center;
  font-size: 24px;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  color: #1A1A1A;
}
.single-post {
  padding: 10px 0 50px;
}
.single-post .banner-image {
  max-width: 1024px;
  margin: 0 auto;
}
.single-post .meta {
  margin: 30px 0;
}
body.archive .posts__page,
body.category .posts__page {
  padding: 50px 0;
}
.posts__page .main-blog {
  padding: 50px 0;
}
.posts__page .sidebar {
  background-color: #efefef;
  padding: 20px 40px;
  height: 100%;
}
.posts__page .sidebar .sidebar-widget {
  padding-top: 186px;
}
@media only screen and (max-width: 960px) {
  .posts__page .sidebar .sidebar-widget {
    padding-top: 0;
  }
}
.posts__page .sidebar ul,
.posts__page .sidebar ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.posts__page .sidebar ul a,
.posts__page .sidebar ol a {
  color: #C44B00;
}
.posts__page .sidebar .widget_archive {
  margin-bottom: 50px;
}
.posts__page article.post {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
  padding: 20px 0;
}
.posts__page article.post .bg {
  width: 100%;
  min-height: 235px;
}
.posts__page article.post span.date {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.posts__page article.post h4 a {
  color: #1A1A1A;
  text-transform: none;
}
.posts__page article.post a.perm {
  color: #C44B00;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.posts__page .pagination {
  text-align: center;
}
.posts__page .pagination .page-numbers {
  color: #C44B00;
}
.posts__page .pagination .page-numbers.current {
  font-weight: 600;
}
footer.footer {
  background-color: #1A1A1A;
  padding: 40px 0;
}
footer.footer h3,
footer.footer p,
footer.footer a,
footer.footer li {
  color: white;
}
footer.footer .menu {
  margin-top: 70px;
}
footer.footer ul,
footer.footer ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer.footer ul li,
footer.footer ol li {
  margin-bottom: 20px;
}
footer.footer .social {
  margin-top: 30px;
}
footer.footer .social li {
  display: inline-block;
  margin-right: 15px;
}
footer.footer .social li a i {
  font-size: 24px;
}
footer.footer .offices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
@media only screen and (max-width: 1200px) {
  .wp-block-group .wp-block-group__inner-container {
    padding: 45px 30px;
  }
  .wp-block-group.is-style-large .wp-block-group__inner-container {
    padding: 45px 30px;
  }
}
@media only screen and (max-width: 960px) {
  h2 {
    font-size: 45px;
    line-height: 55px;
  }
  .wp-block-columns .wp-block-column {
    margin-bottom: 20px;
  }
  .wp-block-media-text {
    display: block;
  }
  .wp-block-media-text .wp-block-media-text__media {
    margin-bottom: 30px;
  }
  footer.footer .menu {
    margin-left: 30px;
  }
  .uk-modal-dialog .uk-flex {
    display: block;
  }
  section.card-slider .card-slider__slick .card-slider__inner .uk-flex {
    display: block;
  }
  section.card-slider .card-slider__slick .card-slider__inner .card-slider__image {
    margin: 0 0 20px;
  }
  section.person .uk-flex {
    display: block;
  }
  section.person .card-slider__image {
    margin: 0 auto 20px;
    min-width: inherit;
  }
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
    line-height: 30px;
  }
  h2 {
    font-size: 38px;
    line-height: 48px;
  }
  header.header img {
    max-width: 210px;
  }
  footer.footer .menu {
    margin: 0;
  }
  footer.footer p {
    font-size: 14px;
  }
  button.slick-arrow {
    display: none !important;
  }
  .uk-modal-dialog {
    padding: 15px;
  }
  .uk-modal-dialog .card-slider__image {
    min-width: inherit;
    margin: 0;
  }
  .uk-modal-dialog .card-slider__image img {
    max-width: inherit;
    width: 100%;
  }
  .wp-block-media-text.is-style-card .wp-block-media-text__content {
    padding: 0;
  }
  .wp-block-columns {
    margin-bottom: 0;
  }
  .wp-block-group .wp-block-group__inner-container {
    padding: 20px !important;
  }
  .slick-dots {
    display: none !important;
  }
  section.card-slider .card-slider__slick {
    padding: 0;
  }
  section.card-slider .card-slider__slick .card-slider__inner {
    padding: 20px;
  }
  section.card-slider .card-slider__slick .card-slider__inner .card-slider__content p:not(.title) {
    display: none;
  }
  section.card-slider .card-slider__slick .card-slider__inner .card-slider__image {
    min-width: inherit;
  }
  section.card-slider .card-slider__slick .card-slider__inner .card-slider__image div {
    height: 230px !important;
    background-size: contain !important;
  }
}
#maincontain {
  padding: 0 !important;
  width: inherit !important;
  background: transparent !important;
}
